/* Color Palette */
$primary-color: #000000;
$background-color: #ffffff;
$accent-color: #ffffff;
$active-color: #000000;

.home-page {
    // background-image: url('../../assets/images/home-background.png');
    // background: linear-gradient(rgb(240, 240, 240,0.9), rgba(184, 184, 184, 0)), url('../../assets/images/home-background.png');
    background: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.8)), url('../../assets/images/home-background.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;


    .text-zone {
        position: absolute;
        left: 10%;
        top: 50%;
        transform: translateY(-50%);
        width: 45%;
        max-height: 90%;
        color: $primary-color; // Using primary color for text
        // background-color: $background-color;
    }

    .navigation-buttons {
        display: flex;
        justify-content: center; // Center the buttons horizontally
        position: absolute;
        top: 30%;
        right: 12%;
        flex-direction: column;
        animation: fadeIn 1s 1.8s backwards;

        button {
            background-color: rgb(125, 125, 125, 0.5);
            letter-spacing: 4px;
            color: $primary-color;
            border: 2px solid $active-color;
            font-family: sans-serif;
            font-size: 30px;
            padding: 20px 20px;
            margin: 10px 10px;
            border-radius: 5px;
            transition: background-color 0.3s, color 0.3s;
            cursor: pointer;

            &:hover {
                background-color: $active-color;
                color: $background-color;
                transform: scale(1.2);
            }
        }
    }
    h1 {
        font-size: 45px;
        margin: 0;
        font-family: 'Coolvetica';
        font-weight: 250;
        color: $active-color;

        &::before,
        &::after {
            font-family: 'La Belle Aurore';
            color: $active-color; // Active color for decorative text
            font-size: 18px;
            position: absolute;
            opacity: 0.6;
            animation: fadeIn 1s 2s backwards;
        }

        &::before {
            content: '<h1>';
            margin-top: -40px;
            left: 15px;
        }

        &::after {
            content: '<h1/>';
            margin-top: 30px;
            margin-left: 20px;
        }

        .logo-container-word {
            display: inline-block;
            vertical-align: text-top;
        }

        img {
            width: 50px;
            margin-left: 20px;
            height: auto;
            animation: rotateIn 1s linear both;
            animation-delay: 1s;
            margin-right: -3px;
        }
    }

    h2 {
        color: $primary-color; // Accent color for subheading
        margin-top: 20px;
        font-weight: 300;
        font-size: 15px;
        font-family: sans-serif;
        letter-spacing: 2px;
        animation: fadeIn 1s 1.8s backwards;
    }

    .flat-button {
        color: $primary-color; // Active color for button text
        font-size: 13px;
        font-weight: 300;
        letter-spacing: 4px;
        font-family: sans-serif;
        text-decoration: none;
        padding: 10px 20px;
        border: 1px solid $active-color; // Active color for button border
        margin-top: 25px;
        float: left;
        animation: fadeIn 1s 1.8s backwards;
        white-space: nowrap;
        background-color: rgb(125, 125, 125, 0.5);

        &:hover {
            color: $background-color;
            background: $active-color; // Active color for hover background
            cursor: pointer;
        }
    }
}

// .home-page .text-zone h1,
// .home-page .text-zone h2 {
//     text-shadow: 2px 2px 8px rgba(0, 0, 0, 1);
// }

.link-buttons {
    display: flex;
    align-items: center; /* Align images vertically */
    justify-content: center; /* Center images horizontally */
    gap: 20px; /* Space between images */
    padding: 15px;
}

.link-buttons img {
    width: 35px; /* Set a fixed width */
    height: 35px; /* Set a fixed height */
    object-fit: contain; /* Keep image aspect ratio */
    &:hover{
        transform: scale(1.2);
    }
}


@media only screen and (max-width: 768px) {
    .home-page {
        .text-zone {
            left: 5%;
            width: 90%;
            h1 {
                font-size: 30px; // Smaller font size for mobile
            }
            h2 {
                font-size: 10px; // Smaller font size for mobile
            }
        }

        .navigation-buttons {
            top: 60%; // Adjust position for mobile
            right: 5%; // Adjust position for mobile
            button {
                font-size: 20px; // Smaller font size for buttons
                padding: 10px 15px; // Adjust padding for buttons
            }
        }

        .link-buttons img {
            width: 30px; // Adjust icon size for mobile
            height: 30px; // Adjust icon size for mobile
        }

        .flat-button {
            font-size: 12px; // Smaller font size for mobile
        }
    }
    .home-page h1 img{
        width: 33px;
    }
}