/* Color Palette */
$primary-color: #eeeeee;
$background-color: #1a1a1a;
$accent-color: #ffffff;
$active-color: #c0c0c0;

.home-page {
    // background-image: url('../../assets/images/home-background.png');
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('../../assets/images/home-background.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;


    .text-zone {
        position: absolute;
        left: 10%;
        top: 50%;
        transform: translateY(-50%);
        width: 40%;
        max-height: 90%;
        color: $primary-color; // Using primary color for text
        // background-color: $background-color;
    }

    .navigation-buttons {
        display: flex;
        justify-content: center; // Center the buttons horizontally
        margin-top: 40px; // Space above the buttons

        button {
            background-color: transparent;
            color: $primary-color;
            border: 2px solid $active-color;
            font-family: sans-serif;
            font-size: 16px;
            padding: 10px 20px;
            margin: 0 10px; // Space between buttons
            border-radius: 5px;
            transition: background-color 0.3s, color 0.3s;
            cursor: pointer;

            &:hover {
                background-color: $active-color;
                color: $background-color;
            }
        }
    }
    h1 {
        font-size: 45px;
        margin: 0;
        font-family: 'Coolvetica';
        font-weight: 250;
        color: $active-color;

        &::before,
        &::after {
            font-family: 'La Belle Aurore';
            color: $active-color; // Active color for decorative text
            font-size: 18px;
            position: absolute;
            opacity: 0.6;
            animation: fadeIn 1s 2s backwards;
        }

        &::before {
            content: '<h1>';
            margin-top: -40px;
            left: 15px;
        }

        &::after {
            content: '<h1/>';
            margin-top: 30px;
            margin-left: 20px;
        }

        .logo-container-word {
            display: inline-block;
            vertical-align: text-top;
        }

        img {
            width: 50px;
            margin-left: 20px;
            height: auto;
            animation: rotateIn 1s linear both;
            animation-delay: 1s;
            // margin-right: -4px;
        }
    }

    h2 {
        color: $accent-color; // Accent color for subheading
        margin-top: 20px;
        font-weight: 300;
        font-size: 11px;
        font-family: sans-serif;
        letter-spacing: 3px;
        animation: fadeIn 1s 1.8s backwards;
    }

    .flat-button {
        color: $active-color; // Active color for button text
        font-size: 13px;
        font-weight: 300;
        letter-spacing: 4px;
        font-family: sans-serif;
        text-decoration: none;
        padding: 10px 20px;
        border: 1px solid $active-color; // Active color for button border
        margin-top: 25px;
        float: left;
        animation: fadeIn 1s 1.8s backwards;
        white-space: nowrap;

        &:hover {
            color: $background-color; // Background color for hover text
            background: $active-color; // Active color for hover background
        }
    }
}

.home-page .text-zone h1,
.home-page .text-zone h2 {
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 1);
}