/* Color Palette */
$primary-color: #eeeeee;
$background-color: #1a1a1a;
$accent-color: #ffffff;
$active-color: #c0c0c0;

.App {
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  height: 100vh;
}

.section {
  scroll-snap-align: start;
  min-height: 100vh;
}

/* App.scss */
// .App {
//   overflow-y: scroll;
//   scroll-snap-type: y mandatory;
//   height: 100vh;

//   @media only screen and (max-width: 768px) {
//     // Adjust scrolling and layout for mobile
//     scroll-snap-type: none;
//   }
// }

// .section {
//   scroll-snap-align: start;
//   min-height: 100vh;
//   padding: 20px; // Example padding

//   @media only screen and (max-width: 768px) {
//     min-height: unset;
//     height: auto;
//     padding: 10px; // Reduced padding for mobile
//   }
// }

// .grid-container {
//   display: grid;
//   background-image: url('assets/images/grid-background.png');
//   background-position: center;
//   background-size: calc(50% + 50px) auto;
//   background-color: #1a1a1a;
//   background-repeat: no-repeat;
//   grid-template-columns: repeat(2, 1fr);
//   grid-template-rows: repeat(2, 1fr);
//   gap: 50px;
//   padding: 50px;
//   justify-content: center;
//   align-items: center;
//   margin: auto;
//   padding-top: 100px;
// }

// .grid-item {
//   background-color: $accent-color;
//   color: $primary-color;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   cursor: pointer;
//   border-radius: 15px;
//   width: 20vw;
//   aspect-ratio: 1 / 1;
//   background-size: contain;
//   background-position: center;
//   border: 2px solid #c0c0c0;
//   margin: auto;
//   transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease, border-color 0.3s ease;
//   background-image: linear-gradient(to bottom right, #eeeeee, $background-color);

//   &:hover {
//     transform: scale(1.1);
//     box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
//     background-color: lighten($active-color, 10%);
//     border-color: lighten($active-color, 20%);
//   }
// }

// .grid-item.home {
//   background-image: url('assets/images/home.png'), linear-gradient(to bottom right, #eeeeee, $background-color);
// }

// .grid-item.projects {
//   background-image: url('assets/images/projects.png'), linear-gradient(to bottom right, #eeeeee, $background-color);
// }

// .grid-item.contacts {
//   background-image: url('assets/images/contacts.png'), linear-gradient(to bottom right, #eeeeee, $background-color);
// }

// .grid-item.about {
//   background-image: url('assets/images/about.png'), linear-gradient(to bottom right, #eeeeee, $background-color);
// }


