$active-color: #c0c0c0;

.about-page {
  position: relative;
  background: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.8)), url('../../assets/images/about-me-back4.png') ;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

  .background-images {
    position: absolute;
    right: 160px;
    width: 23%;
    height: 45%;
    top: 20%;
    overflow: hidden; // Hide overflow to contain the sliding images
    z-index: -1; // Ensure it's behind the text
    border: 2px solid #000000;
    border-radius: 15px;

    .sliding-images {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      height: 800%; 
      animation: slideUp 20s linear infinite;

      div {
        width: 100%;
        height: 12.5%; // Each image takes up 25% of the container height
        background-size: cover;
        background-position: center;
      }

      .image1, .image5 { background-image: url('../../assets/images/about-me-kid.png'); }
      .image2, .image6 { background-image: url('../../assets/images/about-me-teen.png'); }
      .image3, .image7 { background-image: url('../../assets/images/about-me-graduation.png'); }
      .image4, .image8 { background-image: url('../../assets/images/about-me-adult.png'); }
    }
  }

  .text-zone {
    position: absolute;
    left: 10%;
    top: 50%;
    transform: translateY(-50%);
    width: 40%;
    max-height: 90%;
    color: $active-color;
    
  }
}

@keyframes slideUp {
  0% { transform: translateY(0); }
  100% { transform: translateY(-88%); } // Slide up to show the next set of images
}

.about-page .text-zone {
  position: absolute;
  left: 15%;
  top: 45%;
  transform: translateY(-50%);
  width: 40%;
  max-height: 90%;
  color: $active-color;
  background-color: rgba(0, 0, 0, 0.2); /* Semi-transparent black background */
  padding: 10px; /* Add some padding for better text layout */
  border-radius: 10px; /* Optional: adds rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Optional: adds a subtle shadow for depth */
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5); /* Existing text shadow for better text visibility */
}



.stage-cube-cont {
  width: 50%;
  height: 100%;
  top: 0;
  padding-top: 18%;
  margin-left: 0;
  position: absolute;
  right: 0;
  overflow: hidden;
}

.cubespinner {
  animation-name: spincube;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 12s;
  transform-style: preserve-3d;
  transform-origin: 100px 100px 0;
  margin-left: calc(50% - 100px);

  div {
    position: absolute;
    width: 200px;
    height: 200px;
    border: 1px solid #ccc;
    background: rgba(255, 255, 255, 0.4);
    text-align: center;
    font-size: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 20px 0px lightyellow;
  }

  .face1 {
    transform: translateZ(100px);
    color: #dd0031;
  }

  .face2 {
    transform: rotateY(90deg) translateZ(100px);
    color: #f06529;
  }

  .face3 {
    transform: rotateY(90deg) rotateX(90deg) translateZ(100px);
    color: #28a4d9;
  }

  .face4 {
    transform: rotateY(180deg) rotateZ(90deg) translateZ(100px);
    color: #5ed4f4;
  }

  .face5 {
    transform: rotateY(-90deg) rotateZ(90deg) translateZ(100px);
    color: #efd81d;
  }

  .face6 {
    transform: rotateX(-90deg) translateZ(100px);
    color: #ec4d28;
  }
}

@keyframes spincube {

  from,
  to {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }

  16% {
    transform: rotateY(-90deg) rotateZ(90deg);
  }

  33% {
    transform: rotateY(-90deg) rotateX(90deg);
  }

  50% {
    transform: rotateY(-180deg) rotateZ(90deg);
  }

  66% {
    transform: rotateY(-270deg) rotateX(90deg);
  }

  83% {
    transform: rotateX(90deg);
  }
}